# Configuration file

ids {
    I:"1 Up"=203
    I:Blink=210
    I:"Elemental Affinity"=209
    I:"Fall Resistance"=200
    I:Leapfrog=204
    I:"Never Hungry"=208
    I:Paraglide=202
    I:Reaper=207
    I:Restoration=206
    I:"Sonic the Hedgehog"=199
    I:Spiderman=198
    I:"Step Up"=197
    I:Superman=201
    I:"The One Ring"=205
}


jewelry {
    B:"Enable Non-Fish Breeding Recipe for Celestial Mirror"=true
    B:"Enable Singleplayer Jewelry Offline Mode"=false
    B:"Jewelry Drops on Death"=false
}


tweaks {
    I:"Blink > Milliseconds between Blinks"=0
    I:"Blink > Ray Trace Distance"=2000
    B:"Disable Pearls in Vanilla Anvil"=false
    B:"Enable Books being applied to Jewelry"=false
    D:"Leapfrog > Jump Factor"=0.15
    I:"Leapfrog > Jumps per Damage"=10
    I:"Restoration - Ticks between Repair"=100
    D:"Sonic the Hedgehog > Speed Factor"=0.025
    I:"Sonic the Hedgehog > Ticks per Damage"=1200
}


